/* #region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root {
    --background-navy: #141922;
    --background-bottom-bar: #282828;
    --hover: #adff2f;
    --font-colour: #7c7e83;
    --scrollbar-grey-background: #5a5a5a;
    --scrollbar-grey-main: #c1c1c1;
    --selectpage-icon: #d2d2d2;
    --new-playlist: #a3a3a3;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.hover-grow:hover {
    transform: scale(1.05);
}

.hover-white:hover {
    color: white;
}

.pageselect-line-bottom {
    border-bottom: 1px solid var(--hover);
}

.pageselect-line-left {
    border-left: 1px solid var(--hover);
}

/* #endregion common */

/* #endregion debug */

/* #region header */
header {
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.75;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .button {
        padding-right: .5rem;

        button {
            color: white;
            background-color: black;
            border: 1px solid white;
            border-radius: 2rem;
            padding: .5rem 1.5rem;
        }
    }
}

/* #endregion header */

/* #region sidebar */
nav {
    height: 100%;
    width: 245px;
    position: fixed;
    top: 0;
    left: 0;
    /* z-index messi per eccesso di sicurezza, in teoria funzionavano anche senza */
    z-index: 1;
    background-color: black;

    .logo {
        padding: 1rem 2rem 2rem;
        display: flex;
        justify-content: flex-start;

        img {
            width: 80%;
        }

        .display-n {
            display: none;
        }
    }

    /* #region links */
    .links {
        display: flex;
        flex-direction: column;
        line-height: 2rem;

        .icon {

            a {
                display: flex;
                align-items: center;
                color: var(--font-colour);
                font-weight: 700;
                padding: .25rem 2rem;

                img {
                    width: 20%;
                }

                span {
                    padding-left: .5rem;
                }
            }
        }
    }

    /* #endregion links */

    /* #region playlist */
    .playlist {
        display: flex;
        flex-direction: column;
        padding: 1rem 2rem;
        line-height: 2rem;

        h4 {
            color: white;
        }

        a {
            color: var(--font-colour);
            font-weight: 700;
            display: flex;

            i {
                color: var(--new-playlist);
                font-size: 44px;
                padding: 0 .75rem .5rem 0;
            }

            span {
                padding-top: .5rem;
            }
        }
    }

    /* #endregion playlist */

    /* #region account */
    .account {
        position: absolute;
        bottom: 80px;
        line-height: 2rem;
        padding: .25rem 2rem;

        .top {
            display: flex;
            align-items: center;
            color: var(--font-colour);
            font-weight: 700;
            border-bottom: 1px solid var(--font-colour);

            img {
                width: 10%;
            }

            a {
                color: var(--font-colour);
                padding-left: .5rem;
            }

            /* classe riscritta perchè per qualche motivo non riconosce questo specifico hover dalle regole common */
            a:hover {
                color: white;
            }
        }

        .bottom {
            display: flex;
            align-items: center;
            color: white;
            font-weight: 900;
            padding-top: .25rem;

            img {
                width: 15%;
                background-color: var(--font-colour);
                border-radius: 50%;
                aspect-ratio: 1;
            }

            span {
                padding-left: .5rem;
            }
        }
    }

    .account-xs {
        display: none;
    }

    /* #endregion account */
}

/* #endregion sidebar */

/* #region main */
main {
    width: calc(100% - 245px);
    /* CONTROLLA: altezza modificata */
    height: 100vh;
    padding: 80px 0;
    float: right;
    overflow-y: auto;
    background-color: var(--background-navy);

    /* #region page select */

    /* #endregion page select */

    /* #region recently played */
    .content {
        width: calc(100% - 245px);

        .row {
            display: flex;
            flex-wrap: wrap;

            .col-2 {
                width: calc((100% / 12) * 2);
                display: flex;

                .col-top {
                    aspect-ratio: 1;
                }
            }
        }
    }

    /* #endregion recently played */
}

/* #endregion main */

/* #region bottom bar */
footer {
    height: 80px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-color: var(--background-bottom-bar);
}

/* #endregion bottom bar */

/* #region media queries */
/* #region medium */
@media screen and (max-width: 1024px) {}

/* #endregion medium */

/* #region small */
@media screen and (max-width: 768px) {}

/* #endregion small */

/* #region extra-small */
@media screen and (max-width: 425px) {

    /* #region sidebar */
    nav {
        width: 20%;

        .logo {
            padding: 1rem;

            .d-n-xs {
                display: none;
            }

            .d-xs {
                display: block;
                width: 80%;
            }
        }

        /* #region links */
        .links {
            padding: 1rem;

            .icon {
                width: max-content;

                a {
                    padding: .25rem 0;
                }

                .img-xs {
                    width: 42px;
                }

                .d-n-xs {
                    display: none;
                }
            }
        }

        /* #endregion links */

        /* #region playlist */
        .d-n-xs {
            display: none;
        }

        /* #endregion playlist */

        /* #region account */

        .d-n-xs {
            display: none;
        }

        .account-xs {
            display: block;
            width: 80%;
            padding: 0 1rem;
            position: absolute;
            bottom: 80px;

            .top-xs {
                width: 50%;
                margin: auto;
                padding-bottom: 1rem;
            }
            
            .bottom-xs {
                width: 70%;
                margin: auto;
                padding-bottom: 1rem;
 
                img {
                    aspect-ratio: 1;
                    background-color: var(--font-colour);
                    border-radius: 50%;
                }
            }
        }

        /* #endregion account */
    }

    /* #endregion sidebar */

    /* #region main */
    main {
        width: 80%;
    }

    /* #endregion main */
}

/* #endregion extra-small */

/* #endregion media queries */