/* #region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root {
    --background-navy: #141922;
    --background-bottom-bar: #282828;
    --hover: #adff2f;
    --font-colour: #7c7e83;
    --scrollbar-grey-background: #5a5a5a;
    --scrollbar-grey-main: #c1c1c1;
    --sidebar-icon: #d2d2d2;
    --new-playlist: #a3a3a3;
}

/* #endregion common */

/* #region debug */
.debug * {
    border: 1px dashed black;
}

header {
    background-color: aquamarine;
    opacity: 0.5;
}

main {
    background-color: blueviolet;
}

nav {
    background-color: pink;
}

footer {
    background-color: yellowgreen;
}

/* #endregion debug */

/* #region header */
header {
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

/* #endregion header */

/* #region sidebar */
nav {
    height: 100%;
    width: 245px;
    position: fixed;
    top: 0;
    left: 0;
}

/* #endregion sidebar */

/* #region main */
main {
    width: calc(100% - 245px);
    padding-top: 80px;
    float: right;
    overflow: scroll;
    /* CONTROLLA: cambialo in hidden come finisci */
}

/* #endregion main */

/* #region bottom bar */
footer {
    height: 80px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}
/* #endregion bottom bar */

/* #region media queries */
/* #region medium */
@media screen and (max-width: 878px) {
    
}
/* #endregion medium */

/* #region small */
@media screen and (max-width: 639px) {
    
}
/* #endregion small */

/* #region extra-small */
@media screen and (max-width: 552px) {
    
}
/* #endregion extra-small */

/* #endregion media queries */