/* #region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root {
    --background-navy: #141922;
    --background-bottom-bar: #282828;
    --hover: #adff2f;
    --font-colour: #7c7e83;
    --scrollbar-grey-background: #5a5a5a;
    --scrollbar-grey-main: #c1c1c1;
    --selectpage-icon: #d2d2d2;
    --new-playlist: #a3a3a3;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.hover-grow:hover {
    transform: scale(1.05);
}

.hover-white:hover {
    color: white;
}

.pageselect-line-bottom {
    border-bottom: 1px solid var(--hover);
}

.pageselect-line-left {
    border-left: 1px solid var(--hover);
}

/* #endregion common */

/* #region debug */
/* .debug * {
    border: 1px dashed black;
} */

main {
    color: white;
}

/* #endregion debug */

/* #region header */
header {
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.75;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .button {
        padding-right: .5rem;

        button {
            color: white;
            background-color: black;
            border: 1px solid white;
            border-radius: 2rem;
            padding: .5rem 1.5rem;
        }
    }
}

/* #endregion header */

/* #region sidebar */
nav {
    height: 100%;
    width: 245px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: black;

    .logo {
        padding: 1rem 2rem;
        display: flex;
        justify-content: flex-start;

        img {
            width: 80%;
        }

        .display-n {
            display: none;
        }
    }

    .links {
        display: flex;
        flex-direction: column;
        padding: 1rem 2rem;
        line-height: 2rem;

        a {
            color: var(--font-colour);
            font-weight: 700;
            display: flex;

            img {
                width: 15%;
            }

            span {
                padding-left: .5rem;
            }
        }
    }

    .playlist {

    }
}

/* #endregion sidebar */

/* #region main */
main {
    width: calc(100% - 245px);
    padding: 80px 0;
    float: right;
    overflow-y: auto;
    background-color: var(--background-navy);
}

/* #endregion main */

/* #region bottom bar */
footer {
    height: 80px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-color: var(--background-bottom-bar);
}

/* #endregion bottom bar */

/* #region media queries */
/* #region medium */
@media screen and (max-width: 1024px) {}

/* #endregion medium */

/* #region small */
@media screen and (max-width: 768px) {}

/* #endregion small */

/* #region extra-small */
@media screen and (max-width: 425px) {

    nav {
        /* CONTROLLA: riduci la sezione nav senza far scomparire gli elementi dentro */

        .logo {

            .d-n-xs {
                display: none;
            }

            .d-xs {
                display: block;
                width: 20%;
            }
        }

        .links {

            .d-n-xs {
                display: none;
            }
        }
    }
}

/* #endregion extra-small */

/* #endregion media queries */